
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #050505, #0d1f0d);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #000;
    border-bottom: 1px solid #00ff88;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.logo-mind {
    color: #fff;
}

.logo-fit {
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88;
}

.navbar-links a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-iniciar-sesion {
    border: 1px solid #00ff88;
    padding: 6px 12px;
    border-radius: 8px;
}

.btn-destacado {
    background: linear-gradient(90deg, #00ff88, #00cc66);
    color: #000 !important;
    padding: 6px 12px;
    border-radius: 8px;
}

.navbar-links a:hover {
    color: #00ff88;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    flex-wrap: wrap;
}

.hero-contenido {
    max-width: 500px;
    animation: aparecer 1s ease;
}

.hero-contenido h1 {
    font-size: 40px;
    color: #00ff88;
    text-shadow: 0 0 15px #00ff88;
    margin-bottom: 15px;
}

.hero-contenido p {
    color: #ccc;
    font-size: 16px;
}


.hero-imagen img {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,255,136,0.3);
    animation: flotar 3s ease-in-out infinite;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flotar {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.caracteristicas {
    padding: 60px 40px;
    text-align: center;
}

.caracteristicas h2 {
    color: #00ff88;
    margin-bottom: 40px;
    text-shadow: 0 0 10px #00ff88;
}

.tarjetas-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


.tarjeta {
    background: rgba(0,0,0,0.85);
    padding: 25px;
    border-radius: 15px;
    width: 280px;
    border: 1px solid rgba(0,255,136,0.3);
    box-shadow: 0 0 20px rgba(0,255,136,0.2);
    transition: 0.3s;
}

.tarjeta-icono {
    font-size: 35px;
    color: #00ff88;
    margin-bottom: 15px;
}

.tarjeta:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 25px #00ff88;
}

.tarjeta h3 {
    margin-bottom: 10px;
}

.tarjeta p {
    color: #ccc;
    font-size: 14px;
}


.pie-pagina {
    text-align: center;
    padding: 20px;
    background: #000;
    border-top: 1px solid #00ff88;
    margin-top: 40px;
}

.pie-pagina p {
    color: #888;
    font-size: 14px;
}

@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-imagen img {
        margin-top: 30px;
        width: 80%;
    }
}