* {
    box-sizing: border-box;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin: 10px 0;
}

p {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin: 20px 0;
}

nav {
    background-color: #273ae0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    background-color: #1d2db5;
    color: white;
}

button {
    background-color: #273ae0;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.servicios {
    text-align: center;
    padding: 20px;
}

.contenedor-servicios {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #ececec;
    color: rgba(97, 243, 243, 0.842);
    text-align: center;
    padding: 10px;
    margin-top: 300px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}



section.inicio {
    background-color: #e0f7fa;
    padding: 40px 20px;
    margin-top: 10px;
}

section {
    text-align: center;
    margin: 20px;
}

section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

section.sobre-nosotros {
    background-color: #f9f9f9;
    padding: 40px 20px;
    margin-top: 120px;
}

section.h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 120px;
}

div#btn-sesion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}